{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: darkred;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


header {
    background: #333;
    color: darkred;
    padding: 20px 0;
    background-image: url("images/popcorn.jpg");
}

    header h1 {
        margin-bottom: 10px;
    }

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav a {
    text-decoration: none;
}

    nav a:hover {
        text-decoration: underline;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

.section {
    padding: 20px 0;
}

    .section:nth-child(even) {
        background: #f4f4f4;
        background-color: darkmagenta;
    }


footer {
    background: #333;
    color: black;
    text-align: center;
    padding: 20px 0;
}

.social-icons img {
    max-width: 100%;
    height: 50px;
}

.imgg {
    width: 50%;
    height: 100px;
}
.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: nowrap;
}

/* Card design */
.card {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    width: 30%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
}

    /* Card image */
    .card img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-radius: 8px;
    }

    /* Titles */
    .card h3 {
        margin: 10px 0;
        color: #333;
    }

    /* Links */
    .card a {
        display: inline-block;
        margin: 10px 0;
        color: darkred;
        text-decoration: none;
        font-weight: bold;
    }

        .card a:hover {
            text-decoration: underline;
        }

    /* Button */
    .card button {
        background: darkred;
        color: white;
        border: none;
        padding: 8px 15px;
        border-radius: 20px;
        cursor: pointer;
        margin-bottom: 10px;
    }

        .card button:hover {
            background: #a00000;
        }

    /* Extra info */
    .card .info {
        font-size: 0.9em;
        color: #666;
    }

/* Responsive */
@media (max-width: 900px) {
    .card {
       width: 60%;
    }
}