* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: darkred;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


header {
    background-image: url("images/popcorn.jpg");
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    color: white;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}
.social-icons img {
    max-width: 100%;
    height: 50px;
}

.section {
    padding: 40px 0;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card {
    background: white;
    border-radius: 12px;
    width: 32%;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    text-align: center;
    display: flex;
    flex-direction: column;
}

    .card img {
        width: 100%;
        height: 520px; 
        object-fit: cover; 
        border-radius: 10px;
    }

    .card h3 {
        margin: 12px 0;
        color: #333;
    }

   
    .card p {
        color: #555;
        font-size: 0.95em;
    }

    
    .card a {
        display: inline-block;
        margin: 10px 0;
        color: darkred;
        font-weight: bold;
        text-decoration: none;
    }

    
    .card button {
        background: darkred;
        color: white;
        border: none;
        padding: 8px 18px;
        border-radius: 20px;
        cursor: pointer;
        margin: 10px 0;
    }

        .card button:hover {
            background: #a00000;
        }

   
    .card .info {
        font-size: 0.85em;
        color: #777;
    }

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}
#services {
    padding: 40px 0;
}

.services-cards {
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
}

.service-card {
    width: 33.333%;
    padding: 20px;
    box-sizing: border-box;
    margin: 10px;
    background-color: white;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
}

    
    .service-card img {
        width: 80px; 
        height: 80px;
        margin-bottom: 15px;
    }

    
    .service-card h3 {
        font-size: 15px;
        margin-bottom: 10px;
        color: #333;
    }

    .service-card p {
        font-size: 15px;
        color: black;
    }

    
    .service-card a {
        margin: 10px 0;
        color: black;
        text-decoration: none;
        font-weight: bold;
    }

    
    .service-card button {
        background-color: darkred;
        color: white;
        border: none;
        padding: 8px 20px;
        border-radius: 20px;
        cursor: pointer;
        margin-top: 10px;
    }

        
        .service-card button:hover {
            background-color: darkred;
        }

    .service-card .info {
        margin-top: 10px;
        font-size: 0.85em;
        color: black;
    }